<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
	<meta charset="UTF-8">
	<title></title>
	<script src="../angular.js"></script>
	<script>
	angular.module("app", [])
		.controller("parent", function($scope) {
			$scope.$watch("hello", function() {
				console.log("chcange");
				console.log($scope.hello);
			})
		})
		.controller("child", function($scope) {
			$scope.$watch("hello", function() {
				console.log("chcange");
				console.log($scope.hello);
			})
		})
	</script>
</head>

<body>
	<div ng-controller="parent">
		<input type="text" ng-model="hello">
		<div ng-controller="child">
			<input type="text" ng-model="hello">
		</div>
	</div>
</body>

</html>
