<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../bootstrap-theme.css">
	<style>
		.odd { background-color: lightcoral}
		.even { background-color: lavenderblush}
	</style>
	<script src="../angular.js"></script>
	<script>
		angular.module("exampleApp", [])
			.controller("defaultCtrl", function($scope){
				$scope.data={};

				$scope.todos=[
					{action:"吃饭", complete:false},
					{action:"睡觉", complete:false},
					{action:"打代码", complete:true}
				];

				$scope.add=function(){
					var obj = {action:"喝水", complete:true};
					$scope.todos.push(obj);
				};

				$scope.viewFile=function(){
					return $scope.showList ? "list.html" : "table.html";
				}
				$scope.reportChange = function(){
					console.log("Displayed content: " + $scope.viewFile());
				}
			})
	</script>
</head>
<body>
	<div id="todoPanel" class="panel" ng-controller="defaultCtrl">
		<h3 class="panel-header">To Do List</h3>
		<!-- 注意src格式，再嵌套一个'' -->
		<div class="well">
			<div class="radio" ng-repeat="button in ['None', 'Table', 'List']">
				<input type="radio" ng-model="data.mode" value="{{button}}" ng-checked="$first">{{button}}
			</div>
		</div>

		<div ng-switch on="data.mode">
			<div ng-switch-when="Table">
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>Action</th>
							<th>Done</th>
						</tr>
					</thead>
					<tr ng-repeat="item in todos" ng-class="$odd ? 'odd' : 'even'">
						<td>{{$index + 1}}</td>
						<td ng-repeat="prop in item">{{prop}}</td>
					</tr>
				</table>
			</div>

			<div ng-switch-when="List">
				<ol>
					<li ng-repeat="item in todos">
						{{item.action}} <span ng-if="item.complete">(Done)</span>
					</li>
				</ol>
			</div>
			<div ng-switch-default>
				Select another option to display a layout
			</div>
		</div>

	</div>
</body>
</html>