<!DOCTYPE html>
<html ng-app="app">

<head>
  <meta charset="UTF-8" />
  <title></title>
  <script src="../jquery.js"></script>
  <script src="../jquery-ui.js"></script>
  <script src="../angular.js"></script>
  <script src="./sortable.js"></script>
  <script src="./index.js"></script>
  <style>
    body {
      margin: 0;
      padding: 0;
    }

    h1 {
      text-align: center;
    }

    div {
      width: 300px;
      border: 1px solid red;
    }

    ul {
      list-style: none;
      padding: 0;
    }

    li {
      cursor: grab;
      user-select: none;
      padding: 5px;
      border: 1px solid #ddd;
    }

    .not-sortable {
      color: #999;
    }
  </style>
</head>

<body ng-controller="sortCtrl">
  <h1>ui-sortable demo</h1>
  <p>
    是否可排序：
    <input type="checkbox" ng-model="canSort" ng-change="handleChange($)">
  </p>
  <div>
    <ul ui-sortable="sortableOptions" ng-model="data">
      <li ng-repeat="item in data" ng-class="{'not-sortable': !canSort || item.i === 3}">
        <span>{{ item.name }}, {{ item.age }}</span>
      </li>
    </ul>
  </div>
</body>

</html>
