<!DOCTYPE html>
<html ng-app="app">

<head>
	<meta charset="UTF-8">
	<title></title>
	<script src="../../jquery.js"></script>
	<script src="../../jquery-ui.js"></script>
	<script src="../../angular/angular.js"></script>
	<script src="ui-sortable/src/sortable.js"></script>
	<script>
	angular.module("app", ["ui.sortable"])
		.controller("sortCtrl", function($scope) {
			$scope.data = [{
				"name": "allen",
				"age": 21,
				i: 1
			}, {
				"name": "bob",
				"age": 18,
				i: 0
			}, {
				"name": "curry",
				"age": 25,
				i: 2
			}, {
				"name": "david",
				"age": 30,
				i: 3
			}];

			$scope.sortableOptions = {
				uiOrderBy: "age",
				// 数据有变化
				update: function(e, ui) {
					console.log("update");
				},

				// 完成动作
				stop: function(e, ui) {
					console.log("stop");

				}
			}
		})
		.filter("myOrder", function() {
			return function(value) {
				console.log(value);
				value.sort(function(a, b) {
					if (a.age > b.age) {
						return 1;
					} else if (a.age == b.age) {
						return 0;
					} else {
						return -1;
					}
				})
				return value;
			}
		})
	</script>
	<style>
	div {
		width: 300px;
		border: 1px solid red;
	}
	
	ul {
		list-style: none;
		padding: 0;
	}
	
	li {
		padding: 5px;
		border: 1px solid #ddd;
	}
	</style>
</head>

<body>
	<div ng-controller="sortCtrl">
		<ul ui-sortable="sortableOptions" ng-model="data">
			<li ng-repeat="item in data | orderBy :'i' ">
				<span>{{item.name}}, {{item.age}}</span>
			</li>
		</ul>
	</div>
</body>

</html>
