<!DOCTYPE html>
<html lang="en" ng-app="exampleApp">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../bootstrap-theme.css">
	<script src="../angular.js"></script>
	<script>
		angular.module("exampleApp", [])
			.controller("defaultCtrl", function($scope){
				$scope.todos=[
					{action:"吃饭", complete:false},
					{action:"睡觉", complete:false},
					{action:"其他", complete:false},
					{action:"打代码", complete:false}
				];

				$scope.buttonNames=["Red", "Green", "Blue"];
				$scope.data={
					rowColor:"Blue",
					columnColor:"Green"
				};

				$scope.handleEvent = function(e){
					console.log("Event type: " + e.type);
					$scope.data.columnColor=e.type == "mouseover"? "Green" : "Blue";
					
				}
			})
	</script>

	<style>
		.Red { background-color: lightcoral; }
		.Green { background-color: lightgreen; }
		.Blue { background-color: lightblue; }
	</style>

</head>
<body>
	<div id="todoPanel" class="panel" ng-controller="defaultCtrl">
		<h3 class="panel-header">To Do List</h3>

		<div class="checkbox well">
			<span ng-repeat="button in buttonNames">
				<button class="btn btn-info" ng-click="data.rowColor = button">{{button}}</button>

			</span>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Action</th>
					<th>Done</th>
				</tr>
			</thead>
			<tr ng-repeat="item in todos" ng-class="data.rowColor" ng-mouseenter="handleEvent($event)" ng-mouseleave="handleEvent($event)">
				<td>{{$index + 1}}</td>
				<td>{{item.action}}</td>
				<td ng-class="data.columnColor">{{item.complete}}</td>
			</tr>
		</table>
	</div>
</body>
</html>