<!DOCTYPE html>
<html ng-app="app">

<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
  <script src="../angular.js"></script>

  <style>
    .star {
      padding: 10px;
      border: 1px solid #333;
    }
  </style>
</head>

<body ng-controller="ctrl">
  <script>
    angular.module("app", [])
      .controller("ctrl", function ($scope) {
        $scope.result = "";
        $scope.sayButton = function (e) {
          $scope.result += "button";
          e.stopPropagation();
        };
        $scope.saySpan = function (e) {
          $scope.result += "span";
          e.stopPropagation();
        };
      })
  </script>
  <div class="btn btn-default btn lg" ng-click="sayButton($event)">
    Button
    <span class="star glyphicon glyphicon-star" ng-click="saySpan($event)"></span>
  </div>
  result:{{result}}
</body>

</html>
