<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
	<meta charset="UTF-8">
	<title></title>
	<script src="../angular.js"></script>
	<link href="../bootstrap.css" rel="stylesheet" />
	<link href="../bootstrap-theme.css" rel="stylesheet" />
	<script type="text/javascript" id="scopeTemplate">
		<div class="panel-body"><p> Data: <input ng-model="local"></p></div>
	</script>
	<script>
		angular.module("exampleApp", [])
			.directive("scopeDemo", function(){
				return {
					template:function(){
						return angular.element(
							document.querySelector("#scopeTemplate")).html();
					},
					scope:{
						local:"=nameprop"
					}
				}

				
			})
			.controller("scopeCtrl", function($scope){
				//$scope.name="hello";
				$scope.data={name:"Allen"};
				$scope.city="London";
				$scope.some=function(){
					return "sd";
				}
			})
			
	</script>
</head>
<body ng-controller="scopeCtrl">
	{{data}}
	<div class="panel panel-default">
		<div class="panel-body">
			Direct Binding: <input ng-model="data.name">
		</div>
		<div class="panel-body" scope-demo nameprop="data.name"></div>
	
	</div>
	
</body>
</html>